//$namegray: 180;
$namegray: 50;
//$maintextcolor: 200;
$maintextcolor: 50;
$mainlinks: rgb(100, 100, 200);
//$l2gray: 140; //Gray used for 'Developer' subheading
$l2gray: 50;
$bordercolor: rgb(255, 255, 255);
$bggrey: 250;

$projborder: 15px;


body{
    height:100vh;
    //background-color: rgb(40, 40, 40);
    background-color: rgb($bggrey, $bggrey, $bggrey); 
    
    /* background-image: linear-gradient(rgb(128, 127, 127), rgb(31, 30, 30)); */
}

.outer{
    margin: 15px;
    font-size: 14pt;
    text-align: left;
    color:rgb($maintextcolor, $maintextcolor, $maintextcolor);
    display:inline-block;
}

.devname{
    font-size:60pt;
    text-align: left;
    color:rgb($namegray, $namegray, $namegray);
}

.devword{
    @extend .devname;
    font-size:35pt;

    color: rgb($l2gray, $l2gray, $l2gray);
}

.maintitle{
    @extend .devname;
    font-size:30pt;
}

.metext{
    max-width:1000px;
}


.bottomtext{
    //height: 20px;
    width: 100%;
    text-align: left;
    background-color: rgba($color: #eeeeee, $alpha: 0.7);
    //background-blend-mode: lighten($color: #000000, $amount: 0);
    //margin-left:-14px;
    margin-bottom:-2px;


    z-index: 0;
    position:absolute;
    bottom:0px;

    font-size: 22pt;
    color:blue;

    
}

.projectbox{


    
    display:flex;



    //padding-left: 12px;
    padding-top: 8px;

    position:relative;

    margin:5px;
    margin-bottom: 15px;

    border: 2px solid;
    border-color: $bordercolor;

    /* Border stuff */
    border-top-left-radius: $projborder;
    border-bottom-right-radius: $projborder;
    border-top-right-radius: $projborder;


    //background-color:#333333; //Dark version
    background-color: rgb(255, 255, 255);
    
    max-width: 1000px;
    min-height: 200px;

    
    a:link{
        color: $mainlinks;
        text-decoration-line:none;
    }

    a:visited{
        color: $mainlinks;
        text-decoration-line:none;
    }

    a:hover{
        text-decoration-line:underline;
    }
    
}

.miniboxes{
    @extend .projectbox;
    width: 487px;  //Todo: fix this so it's always half the bigger div (except margins)

     
    color:black;

    overflow:hidden;


}


.icondiv
{
    margin-left: 8px;
    img{
        
        border-radius: 10px;
        padding-left: 0;
    }

}

.projectinner{
    margin-left: 15px;
    width: 100%;

    display:relative;
    
}


.boxesarea{
    display:flex;

    @media screen and (max-width: 1000px){
        display:block;
    }

}


.animatedbox{
    
    animation-duration: 40s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.codebox{

    @extend .miniboxes;
    @extend .animatedbox;
    animation-name: scrollcode;
    animation-duration: 80s;
    background-size:150%;
}

.videobox{
    @extend .miniboxes;
}

.linkbox{
    @extend .miniboxes;
    @extend .animatedbox;
    animation-name:scrollimage;
    background-size: cover;
    background-position: top;

   
}

.projectdescription{
    font-size: 16pt;
    text-align: left;
    /* color:black; */
}

.projecttitle{
    font-size: 32pt;
    text-align: left;

}

.technologies{
    font-size:18pt;
    text-align:left;
}

.completionouter{

    
    bottom:0;

    float:bottom;

    margin-right: 8px;
    //margin-bottom: 5px;
    width:100px;
    text-align: left;
    float:right;

    font-size: 12pt;
}


.completionbox{
 
    padding: 5px;
    width: 70px;
    height: 20px;
    border: 5px solid;
    //border-color: white; //Dark version
    border-color: darkgrey;

    border-bottom-right-radius: 10px;


}

.completioninner{


    //background-color: white; //Dark version
    background-color: darkgrey;
    
    width: 70%;
    height: 100%;
}


//Animations:



@keyframes scrollcode{
    from {
          background-position: top left;
          
        }
    to {
        background-position: bottom left;
        
    }
}


@keyframes scrollimage{ 
    from {background-position: top left;
          background-size: 130%;
        }
    to {background-position: bottom left;
        background-size: 100%;
    }
}